<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="mr-1 font-medium mb-1">Name:</strong>
    <%= task.name %>
  </p>

  <p class="my-5">
    <strong class="mr-1 font-medium mb-1">State:</strong>
    <%= task.state.humanize %>
  </p>

  <p class="my-5">
    <strong class="mr-1 font-medium mb-1">Deadline:</strong>
    <%= task.deadline %>
  </p>

  <p class="my-5">
    <strong class="mr-1 font-medium mb-1">Responsible:</strong>
    <%= task.responsible %>
  </p>

  <p class="my-5">
    <strong class="mr-1 font-medium mb-1">Author:</strong>
    <%= task.author %>
  </p>

  <div class="my-5">
    <strong class="mr-1 font-medium mb-1">Description:</strong>
    <div class="whitespace-pre-line">
      <%= task.description %>
    </div>
  </div>
</div>
